# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc (DS STORE)
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

# Temporary files
*.swp
*.swo
*~

# Logs
logs
*.log

# Cache
.npm
.eslintcache
.stylelintcache

# Optional webpack analyzer output
/analyze/